<{includeq file="db:pm_breadcrumbs.html"}>

<form name="<{$pmform.name}>" id="<{$pmform.name}>" action="<{$pmform.action}>" method="<{$pmform.method}>" <{$pmform.extra}> >
    <table class="outer txtcenter width100">
        <tr>
            <th colspan="2"><{$pmform.title}></th>
        </tr>
        <tr>
            <td class="head width30"><{$smarty.const._PM_TO}>:</td>
            <td class="even txtleft"><{if $pmform.elements.to_userid.hidden != 1}><{$pmform.elements.to_userid.body}><{/if}><{$to_username}></td>
        </tr>
        <tr>
            <td class="head"><{$smarty.const._PM_SUBJECT}>:</td>
            <td class="even"><{$pmform.elements.subject.body}></td>
        </tr>
        <tr>
            <td class="head"><{$smarty.const._PM_SUBJECT_ICONS}>:</td>
            <td class="even">
            <{foreachq item=icon from=$radio_icons}>
                <input type="radio" name="icon" id="<{$icon}>" value="<{$icon}>"  /><label name="xolb_icon" for="<{$icon}>"><img src="<{xoAppUrl}>images/subject/<{$icon}>" alt="" /></label>
            <{/foreach}>  </td>
        </tr>
        <tr class="aligntop">
            <td class="head"><{$smarty.const._PM_MESSAGE}>:</td>
            <td class="even"><{$pmform.elements.message.body}></td>
        </tr>
        <tr class="aligntop">
            <td class="head"><{$smarty.const._PM_SAVEINOUTBOX}></td>
            <td class="even"><{$pmform.elements.savecopy.body}></td>
        </tr>
        <tr>
            <td class="head">&nbsp;</td>
            <td class="even">
                <{foreach item=element from=$pmform.elements}>
                    <{if $element.hidden == 1}>
                        <{$element.body}>
                    <{/if}>
                <{/foreach}>
                <{$pmform.elements.submit.body}>&nbsp;
                <{$pmform.elements.reset.body}>&nbsp;
                <{$pmform.elements.cancel.body}>
            </td>
        </tr>
        <tr class="footer">
            <td class="txtright" colspan="2">&nbsp;</td>
        </tr>
    </table>
</form>
<{$pmform.javascript}>