<table>
  <{if $block.showgroups == true}>
  <!-- start group loop -->
  <{foreach item=group from=$block.groups}>
  <tr>
    <td colspan="3"><{$group.name}></td>
  </tr>
  <!-- start group member loop -->
  <{foreach item=user from=$group.users}>
  <tr>
    <td class="txtcenter alignmiddle">
        <img style="width:32px;" src="<{$user.avatar}>" alt="<{$user.name}>" />
    </td>
    <td class="txtcenter alignmiddle">
        <a href="<{$xoops_url}>/userinfo.php?uid=<{$user.id}>" title="<{$user.name}>"><{$user.name}></a>
    </td>
    <td class="width20 txtright alignmiddle"><{$user.msglink}></td>
  </tr>
  <{/foreach}>
  <!-- end group member loop -->
  <{/foreach}>
  <!-- end group loop -->
  <{/if}>
</table>
<div class="txtcenter marg3"><{$block.recommendlink}></div>