<table>
  <{foreach item=user from=$block.users}>
  <tr>
    <td class="txtcenter alignmiddle"><{$user.rank}></td>
    <td class="txtcenter alignmiddle"><{if $user.avatar != ""}><img style="width:32px;" src="<{$user.avatar}>" alt="<{$user.name}>" /><{/if}></td>
    <td class="txtcenter alignmiddle"><a href="<{$xoops_url}>/userinfo.php?uid=<{$user.id}>" title="<{$user.name}>"><{$user.name}></a></td>
    <td class="txtcenter alignmiddle"><{$user.posts}></td>
  </tr>
  <{/foreach}>
</table>