<strong><{$block.online_total}></strong> <{$smarty.const._ONLINEPHRASEX}>
<{ if $block.online_module }>
 are browsing <strong><{ $block.online_module }></strong>
<{/if}>
<br /><br />
<{$smarty.const._MEMBERS}>: <{$block.online_members}>
<br />
<{$smarty.const._GUESTS}>: <{$block.online_guests}>
<br /><br />
<{$block.online_names}> <a href="javascript:openWithSelfMain('<{$xoops_url}>/misc.php?action=showpopups&amp;type=online','Online',420,350);" title="<{$block.lang_more}>"><{$smarty.const._MORE}></a>