<div class="txtleft">
	<form action="<{xoAppUrl user.php}>" method="post">
		<{$smarty.const._USERNAME}><br />
		<input type="text" name="uname" size="12" value="<{$block.unamevalue}>" maxlength="25" /><br />
		<{$smarty.const._PASSWORD}><br />
		<input type="password" name="pass" size="12" maxlength="32" /><br />
		<{if isset( $block.lang_rememberme ) }>
			<input type="checkbox" name="rememberme" value="On" class ="formButton" /><{$smarty.const._MB_SYSTEM_REMEMBERME}>
		<{/if}>
		<div class="txtright">
            <input type="hidden" name="xoops_redirect" value="<{$xoops_requesturi}>" />
		    <input type="hidden" name="op" value="login" />
		    <input class="txtright" type="submit" value="<{$smarty.const._LOGIN}>" />
		    <{$block.sslloginlink}>
		</div>
	</form>
	<div class="txtright"><a href="<{xoAppUrl user.php#lost}>" title="<{$block.lang_lostpass}>"><{$smarty.const._MB_SYSTEM_LPASS}></a></div>
	<div class="txtright"><a href="<{xoAppUrl register.php}>" title="<{$block.lang_registernow}>"><{$smarty.const._MB_SYSTEM_RNOW}></a></div>
</div>