<h2><{$smarty.const._NOT_ACTIVENOTIFICATIONS}></h2>

<form name="notificationlist" action="notifications.php" method="post">
<table class="outer">
  <tr>
	<th colspan="5"><{$smarty.const._NOT_EVENTS}></th>
  </tr>
  <tr class="txtcenter">
    <td class="top"><{$smarty.const._NOT_EVENT}></td>
    <td class="top"><{$smarty.const._NOT_CATEGORY}></td>
    <td class="top txtcenter"><{$smarty.const._NOT_ITEMID}></td>
    <td class="top"><{$smarty.const._NOT_ITEMNAME}></td>
	<td class="top width5"><input name="allbox" id="allbox" onclick="xoopsCheckAll('notificationlist', 'allbox');" type="checkbox" value="<{$smarty.const._NOT_CHECKALL}>" /></td>
  </tr>
  <{if $modules }>
  <{foreach item=module from=$modules}>
  <tr>
    <td class="head"><input name="del_mod[<{$module.id}>]" id="del_mod[]" onclick="xoopsCheckGroup('notificationlist', 'del_mod[<{$module.id}>]', 'del_not[<{$module.id}>][]');" type="checkbox" value="<{$module.id}>" /></td>
    <td class="head" colspan="4"><{$smarty.const._NOT_MODULE}>: <{$module.name}></td>
  </tr>
  <{foreach item=category from=$module.categories}>
  <{foreach item=item from=$category.items}>
  <{foreach item=notification from=$item.notifications}>
  <tr>
    <{cycle values=odd,even assign=class}>
    <td class="<{$class}>"><{$notification.event_title}></td>
    <td class="<{$class}>"><{$notification.category_title}></td>
    <td class="<{$class}>"><{if $item.id != 0}><{$item.id}><{/if}></td>
    <td class="<{$class}>"><{if $item.id != 0}><{if $item.url != ''}><a href="<{$item.url}>" title="<{$item.name}>"><{/if}><{$item.name}><{if $item.url != ''}></a><{/if}><{/if}></td>
    <td class="<{$class}>"><input type="checkbox" name="del_not[<{$module.id}>][]" id="del_not[<{$module.id}>]" value="<{$notification.id}>" /></td>
  </tr>
  <{/foreach}>
  <{/foreach}>
  <{/foreach}>
  <{/foreach}>
  <tr>
  <{else}>
    <tr >
        <td class="odd txtcenter" colspan="5">
            &nbsp;
        </td>
    </tr>
<{/if}>
  </tr>
    <tr class="footer">
        <td class="txtright" colspan="5">
            &nbsp;
        </td>
    </tr>
</table>
<div class="txtcenter">
      <input type="submit" class="button" name="cancel" value="<{$smarty.const._CANCEL}>" />
      <input type="reset" class="button" name="reset" value="<{$smarty.const._RESET}>" />
      <input type="submit" class="button" name="delete" value="<{$smarty.const._DELETE}>" />
      <input type="hidden" class="button" name="XOOPS_TOKEN_REQUEST" value="<{$notification_token}>" />
</div>

</form>
