    <form id="<{$xoForm.name}>" name="<{$xoForm.name}>" action="<{$xoForm.action}>" method="<{$xoForm.method}>" <{$xoForm.extra}> >
        <table id="profile-form-<{$xoForm.name}>" class="outer">
           <tr>
                <th colspan="2"><{$xoForm.title}></th>
            </tr>
            <{foreach item=element from=$xoForm.elements}>
                <{if !$element.hidden}>
                    <{if $element.body}>
                    <tr>
                        <td class="head" width="33%">
                        <{if $element.caption}>
                            <div class="xoops-form-element-caption<{if $element.required}>-required<{/if}>">
                                <span class="caption-text"><{$element.caption}>: </span>
                                <{if $element.required}><span class="caption-marker">*</span><{/if}>
                            </div>
                            <{if $element.description != ''}>
                                <div class='xoops-form-element-help'><{$element.description}></div>
                            <{/if}>
                        <{/if}>
                </td>
                <td class="<{cycle values='odd, even'}>">
                    <{$element.body}>
                </td>
            </tr>
            <{else}>
            <tr>
                <td colspan="2" class="break"><i><{$element.caption}></i></td>
            </tr>
                    <{/if}>
                <{/if}>
            <{/foreach}>
            <tr class="footer">
                <td colspan="2"><span class="small">*= <{$smarty.const._REQUIRED}></span></td>
            </tr>
        </table>
         <{foreach item=element from=$xoForm.elements}>
            <{if $element.hidden}>
                <{$element.body}>
            <{/if}>
        <{/foreach}>
    </form>
    <{$xoForm.javascript}>