.register-steps { font-size: 1.2em;  padding: 5px 2px;}
.register-steps span {  border: 0;  padding: 0 2px;}
.register-steps .current { font-weight: bold; text-decoration: underline;}
.register-steps .delimiter { font-size: 1.2em;}

